#nav{
    display: flex;
    width:203vh ;
    height:10vh ;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex-wrap: wrap;
}
#getstarted{
    background-color: transparent;
    height:7vh ;
    width:21vh ;
    border:2px solid rgb(2, 2, 155) ;
    margin-top: 7px;
    font-weight: bolder;
    color: rgb(8, 8, 146);
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
    font-size: 17px;
    flex-wrap: wrap;
}
#getstarted:hover{
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.685);
    flex-wrap: wrap;
}
#signin:hover{
    color: rgb(9, 9, 194);
    transition: 0.2s;
    flex-wrap: wrap;
}
#dropdown1{
width:240px ;
height:200px ;
background-color: white;
border-radius:10px ;
position: absolute;
margin-left: 200px;
margin-bottom: 2px;
display: none;
box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
flex-wrap: wrap;
}
#dropdown2{
    position: absolute;  
    width:240px ;
    height:200px ;
    background-color: white;
    border-radius:10px ;
    margin-left: 300px;
    margin-bottom: 2px;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    flex-wrap: wrap;
}
#dropdown3{
    position: absolute;
    width:230px ;
    height:160px ;
    background-color: white;
    border-radius:10px ;
    position: absolute;
    margin-left: 400px;
    margin-bottom: 2px;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    flex-wrap: wrap;
}
#dropdown4{
    position: absolute;
    width:230px ;
    height:220px ;
    background-color: white;
    border-radius:10px ;
    position: absolute;
    margin-left: 550px;
    margin-bottom: 2px;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    flex-wrap: wrap;

}
#btnn{
    width: 175px;
    height: 55px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    background-color: rgb(13, 13, 146);
    border: 1px solid blue;
    border-radius: 5px;
    flex-wrap: wrap;
}
#mess{
    margin-left: 430px;
    width:90px ;
    height:55px ;
    font-size: 40px;
    font-weight:bolder ;
    background-color:transparent ;
    border:none ;
    position:fixed ;
    margin-top: 5vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 40px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    flex-wrap: wrap;
}
#logo{
    width:203vh ;
    height:23vh ;
    border: 1px solid black;
}